div .react-datepicker__input-container input {
    border: none !important;
    cursor: pointer;
}

.date-border{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


div .react-datepicker__input-container input :hover{

    outline: none!important;
}
.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


.filter-form{
    padding: 0px 0px;
}
.action-buttons{
    margin-right: 2px;
    min-width: 35px;
    min-height: 35px;
}
.filter-wrapper{
    margin-top: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-right: 16px;
    margin-left: 21px;
    -webkit-box-shadow: -1px 9px 18px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px 9px 18px -4px rgba(0,0,0,0.18);
    box-shadow: -1px 9px 18px -4px rgba(0,0,0,0.18);
}
.x-auto{
    overflow-x: scroll !important;
}
.loading-gif{
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.bt-none{
    border-top: none !important;
}
.bg-lightGrey{
    background-color: rgb(245, 245, 245) !important;
}
.aceptacion-modal{
   
}
.tabla-facturas{
    white-space: nowrap;
    font-size: .875rem !important;
}
.td-resumen{
    display: flex;
    justify-content: space-between;
}
.scroll{
    overflow-y: auto !important;
    overflow-x: unset;
    max-height: 235px !important;
}

.expandable_row{
    display: none;
}
#wrapper {
    transition: height 200ms;
  }

#chevron{
    padding: .5rem!important;
}  

@media (max-width:1445px )  and (min-width:426px){
    div.popup-content{
        width: 80% !important;
    }
}

@media(max-width:425px){
    div.popup-content{
        width: 100% !important;
    }
}